body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #1a0f0f;
  background: linear-gradient(to bottom, black, #1a0f0f);
  color: #f5e6e6;
  overflow-x: hidden;
}

header {
  background: url('images/backgroundHeader.jpg') center/cover no-repeat;
  color: white;
  padding: 2rem 0;
  text-align: center;
  justify-content: space-between;
}

header h1 {
  font-size: 2.5rem;
  margin: 0;
  background: linear-gradient(to bottom, #ffcc00, #ff6600);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: black;
  position: relative;
}

header p {
  font-size: 1.2rem;
  margin: 0.5rem 0 0;
  background: linear-gradient(to bottom, #ffcc00, #ff6600);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.25px;
  -webkit-text-stroke-color: black;
  position: relative;
}

nav {
  position: sticky;
  top: 0;
  background: radial-gradient(ellipse at top center, #660000, black);
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  z-index: 1000;
}

nav a {
  color: #f5e6e6;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background 0.3s ease;
}

nav a:hover {
  background: #8b0000;
}

.sticky-nav {
  position: sticky;
  top: 0;
  background-color: #333;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.mobile-nav {
    display: none !important;
    position: sticky;
    top: 0;
    background-color: #333;
    display: flex;
    justify-content: space-around;
  }

.nav-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item a {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s;
}

.nav-item a:hover {
  color: #ffcc00;
}

.nav-hover-image,
.nav-hover-image-side,
.nav-hover-image-dropdown {
  width: 75px;
  height: 75px;
  background-color: #ffcc00;
  background: url('images/icon/nav_icon.gif') center/cover no-repeat;
  display: none;
  transition: all 0.3s;
  opacity: 0;
}

.nav-hover-image {
  position: absolute;
  bottom: 100%;
  transform: translateY(20px);
}

.nav-hover-image-side {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateX(20px) translateY(50%);
}

.nav-item:hover .nav-hover-image {
  display: block;
  animation: slideUp 0.3s forwards;
}

.nav-item:not(:hover) .nav-hover-image {
  animation: slideDown 0.3s forwards;
}

.nav-item:hover .nav-hover-image-side {
  display: block;
  animation: slideInSide 0.3s forwards;
}

.nav-item:not(:hover) .nav-hover-image-side {
  animation: slideOutSide 0.3s forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(20px);
    opacity: 0;
  }
}

@keyframes slideInSide {
  from {
    transform: translateX(-20px) translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0) translateY(-50%);
    opacity: 1;
  }
}

@keyframes slideOutSide {
  from {
    transform: translateX(0) translateY(-50%);
    opacity: 1;
  }
  to {
    transform: translateX(-20px) translateY(-50%);
    opacity: 0;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  min-width: 160px;
  z-index: 1;
  flex-direction: column;
  align-items: flex-start;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.dropdown-item {
  position: relative;
  width: 100%;
}

.dropdown-item a {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.nav-hover-image-dropdown {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateX(20px) translateY(50%);
}

.dropdown-item:hover .nav-hover-image-dropdown {
  display: block;
  animation: slideInSide 0.3s forwards;
}

.dropdown-item:not(:hover) .nav-hover-image-dropdown {
  animation: slideOutSide 0.3s forwards;
}

.page {
  display: none;
  padding: 2rem;
  max-width: 90%;
  margin: auto;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.page.active {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.page.active {
  display: block;
  opacity: 1;
  transform: translateX(0);
}

.home-page {
  background: url('images/background.png') center/cover repeat;
  color: white;
  text-align: center;
  padding: 50px 20px;
}

.home-page p{
  font-size: 1.2em; 
  max-width: 700px; 
  margin: 0 auto; 
  line-height: 1.8; 
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000;
}

.button-container {
  text-align: center;
  margin-top: 40px;
}

.view-gallery-button {
  display: inline-block;
  margin: 10px;
  padding: 15px 25px;
  font-size: 1em;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.get-commission-button {
  display: inline-block;
  margin: 10px;
  padding: 15px 25px;
  font-size: 1em;
  color: white;
  background-color: #28A745;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.view-tos-button {
  display: inline-block;
  margin: 10px;
  padding: 15px 25px;
  font-size: 1em;
  color: white;
  background-color: #28A745;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.welcome-heading {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000;
}

.latest-gallery {
  margin: 40px auto;
  max-width: 1200px;
  overflow: hidden;
}

.latest-artworks-heading {
  text-align: left;
  margin-bottom: 20px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

.margin-top-20 {
  margin-top: 20px;
}

.view-full-gallery-button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 1em;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.latest-videos {
  margin: 40px auto;
  max-width: 1200px;
  overflow: hidden;
}

.latest-videos-heading {
  text-align: left;
  margin-bottom: 20px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.video-grid-home {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.view-videos-button-container {
  margin-top: 20px;
}

.view-videos-button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 1em;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.intro-video {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.intro-video-iframe {
  width: 100%;
  height: 400px;
}

.intro-video-heading {
  color: #FFFFFF;
  margin-top: 10px;
}

.video-grid-full {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.center-text {
  text-align: center;
}

.list {
  text-align: left;
}

.gumroad-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.gumroad-iframe {
  width: 100%;
  min-height: 1600px;
  border: none;
  overflow: auto;
}

.jinxxy-iframe {
  width: 100%;
  min-height: 3000px;
  border: none;
  overflow: auto;
}

.gumroad-item {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.gumroad-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.gumroad-item h3, .gumroad-item p {
  color: #ffffff;
  margin-top: 10px;
  font-size: 1em;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
  padding: 20px;
}

.game-card {
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #fff;
}

.game-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.game-card h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.game-card p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.game-card .button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007BFF;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.game-card .button:hover {
  background-color: #0056b3;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.card {
  background: #2a1a1a;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  margin: 1rem;
  font-size: 1.5rem;
  color: #f5e6e6;
}

.card p {
  margin: 0 1rem 1rem;
  color: #d3b8b8;
}

.social-media a, .social-contact a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.social-media a:hover, .social-contact a:hover {
  transform: scale(1.05);
}

.social-media-icon, .social-contact-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.social-media-icon a, .social-contact-icon a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  box-shadow: none;
  transition: transform 0.3s ease;
}

.social-media-icon a:hover, .social-contact-icon a:hover {
  transform: scale(1.2);
}

.social-media-icon img, .social-contact-icon img {
  width: 24px;
  height: 24px;
  margin: 0;
}

.social-post, .contact-post {
  margin-bottom: 20px;
}

.social-media-grid, .social-contact-grid {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.social-media-grid a:hover, .social-contact-grid a:hover {
  transform: scale(1.2);
}

.social-media-grid img, .social-contact-grid img {
  width: 24px;
  height: 24px;
  margin: 0;
}

footer {
  background: #2a1a1a;
  color: #f5e6e6;
  text-align: center;
  padding: 2rem 0;
  margin-top: 2rem;
}

form input, form textarea, form button {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #8b0000;
  border-radius: 5px;
  background: #1a0f0f;
  color: #f5e6e6;
}

form button {
  background: #660000;
  color: #f5e6e6;
  border: none;
  cursor: pointer;
}

form button:hover {
  background: #8b0000;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-out {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.hidden {
    display: none !important;
}

.gallery-card, .video-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.gallery-deviantart {
  border: 1px solid #04A045;
}

.gallery-artstation {
  border: 1px solid #42A5F5FF;
}

.gallery-card img, .video-card iframe {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.gallery-card h4, .video-card h4 {
  color: #ffffff;
  margin-top: 10px;
  font-size: 1em;
}

a, button, .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

a:hover, button:hover, .card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.teespring-iframe {

  width: 100%;
  height: 100vh;
  min-height: 3200px;
  background-color: #ffffff;
  border: none;
  overflow: auto;
}

.grid-item {
  transition: transform 0.3s ease;
}

.grid-item:hover {
  transform: scale(1.05);
  z-index: 1;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
}

.modal-content {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  color: white;
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}

.modal-content img,
.modal-content video {
    max-width: 100%;
    max-height: 80vh;
    border-radius: 10px;
    display: block;
}

.modal-content .button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s;
  margin-top: 15px;
}

.modal-content .button:hover {
  background-color: #0056b3;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.comics-container {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
}

.comic-display img {
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.comic-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.comic-selector {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.comic-selector:hover {
  background-color: #eaeaea;
  transform: scale(1.05);
}

.comic-navigation button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
}

.comic-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 20px;
  overflow: auto;
  background-color: #222;
  border-radius: 10px;
  margin: 20px 0;
}

.comic-display img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
  margin: 0 auto;
}

.comics-grid {
  display: grid;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.comic-card {
  background: #2a1a1a;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.comic-card:hover {
  transform: scale(1.05);
}

.comic-image-container {
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comic-image-container img {
  width: 100%;
  height: auto;
}

.comic-image {
  max-height: 100%;
  object-fit: cover;
  object-position: top;
}

.comic-preview h4 {
  margin: 10px 0;
  color: #f5e6e6;
}

.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #660000;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #f5e6e6;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #8b0000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.error-message {
  color: red;
}

.calculator {
  display: inline-block;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 33%;
  margin: auto 33% auto;
}

.calculator select, .calculator input {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

.calculator button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.calculator button:hover {
  background-color: #45a049;
}

.result {
  margin-top: 20px;
  font-size: 1.2em;
}

.deviantart-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px auto;
  font-size: 16px;
  color: #fff;
  background-color: #009f4d;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.deviantart-button:hover {
  background-color: #007a3b;
}

.artstation-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px auto;
  font-size: 16px;
  color: #fff;
  background-color: #42A5F5FF;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.artstation-button:hover {
  background-color: #42A5F5FF;
}

.commissions-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  position: relative;
}

.commissions-slider img,
.commissions-slider video {
  scroll-snap-align: center;
  width: 150px;
  height: 150px;
  object-fit: cover;
  transition: transform 0.3s ease, z-index 0.3s ease;
  cursor: pointer;
  position: relative;
}

.commissions-slider img:hover,
.commissions-slider video:hover {
    transform: scale(1.2);
    z-index: 10;
}

.pricing-grid {
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 10px;
  justify-content: center;
  align-content: center;
  margin: 0px;
}

.pricing-section {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

.pricing-section ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.pricing-section li {
  margin-bottom: 10px;
  text-align: center;
}

.examples {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.example-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  margin-top: auto;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.example-image:hover {
  transform: scale(1.1);
}



/* Responsive styles for mobile devices */
@media (max-width: 767px) {
  nav {
      flex-direction: column;
  }

  .sticky-nav
    {
      display: none !important;
    }

  .mobile-nav
    {
      display: block !important;
    }

  .nav-toggle {
      display: block;
      background: none;
      border: none;
      color: white;
      font-size: 2rem;
      cursor: pointer;
      margin-left: auto;
  }

  .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
  }

  .nav-item {
      width: 100%;
      text-align: center;
  }

  .nav-links.show {
      display: flex;
  }

  .game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    box-sizing: border-box;
    margin: 0px;
  }
  
  .game-card {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #fff;
  }

  .example-image {
      width: 80%;
  }

  .comic-navigation {
    display: flex;
  }
  
  .comic-selector {
    padding: 0px;
    word-wrap: break-word;
    width: 30%;
    font-size: 16px;
  }

  .comics-container {
      max-width: 100%;
  }

  .comic-display {
    display: block;
    box-sizing: border-box;
  }
  
  .example-image {
    width: 75px;
    height: 75px;
  }

  .commissions-slider img,
  .commissions-slider video {
    width: 75px;
    height: 75px;
  }

  .calculator {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
  }

  .pricing-grid {
    display: flex;
    flex-wrap: wrap;
  }

  .checkbox-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    gap: 10px; 
  }

  .checkbox-container div {
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
  }

  .checkbox-container label {
    margin-right: 5px;
  }

  .complexity-comment {
    display: block;
    margin-top: 5px;
    font-size: 0.9em;
    color: #666;
  }
}

.tab {
  display: inline-block;
  margin-left: 40;
}